@charset "UTF-8";
.floater:after, .main-menu .navnav:after, nav.main:after, nav.main .contact:after, footer .footer-container:after, article:after, .equipment-list header:after {
  clear: left;
  content: "";
  display: table; }

/* Typography */
/* Typo reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* Fonts */
@font-face {
  font-family: 'Borgia';
  src: url("../fonts/borgiapro-regular.eot");
  src: url("../fonts/borgiapro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/borgiapro-regular.woff") format("woff"), url("../fonts/borgiapro-regular.ttf") format("truetype"), url("../fonts/borgiapro-regular.svg#borgiapro-regular") format("svg");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'Borgia';
  src: url("../fonts/borgiapro-italic.eot");
  src: url("../fonts/borgiapro-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/borgiapro-italic.woff") format("woff"), url("../fonts/borgiapro-italic.ttf") format("truetype"), url("../fonts/borgiapro-italic.svg#borgiapro-italic") format("svg");
  font-weight: normal;
  font-style: italic;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'Borgia';
  src: url("../fonts/borgiapro-bold.eot");
  src: url("../fonts/borgiapro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/borgiapro-bold.woff") format("woff"), url("../fonts/borgiapro-bold.ttf") format("truetype"), url("../fonts/borgiapro-bold.svg#mborgiapro-bold") format("svg");
  font-weight: bold;
  font-style: normal;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'Borgia';
  src: url("../fonts/borgiapro-bolditalic.eot");
  src: url("../fonts/borgiapro-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/borgiapro-bolditalic.woff") format("woff"), url("../fonts/borgiapro-bolditalic.ttf") format("truetype"), url("../fonts/borgiapro-bolditalic.svg#mborgiapro-bolditalic") format("svg");
  font-weight: bold;
  font-style: italic;
  text-rendering: optimizeLegibility; }

/*
@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato-bold.eot');
	src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/lato-bold.woff') format('woff'),
	url('../fonts/lato-bold.ttf') format('truetype'),
	url('../fonts/lato-bold.svg#lato-bold') format('svg');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato-bolditalic.eot');
	src: url('../fonts/lato-bolditalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/lato-bolditalic.woff') format('woff'),
	url('../fonts/lato-bolditalic.ttf') format('truetype'),
	url('../fonts/lato-bolditalic.svg#lato-bolditalic') format('svg');
	font-weight: normal;
	font-style: italic;
	text-rendering: optimizeLegibility;
}
*/
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato-semibold.eot");
  src: url("../fonts/lato-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-semibold.woff") format("woff"), url("../fonts/lato-semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato-semibolditalic.eot");
  src: url("../fonts/lato-semibolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-semibolditalic.woff") format("woff"), url("../fonts/lato-semibolditalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato-black.eot");
  src: url("../fonts/lato-black.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-black.woff") format("woff"), url("../fonts/lato-black.ttf") format("truetype"), url("../fonts/lato-black.svg#lato-black") format("svg");
  font-weight: bold;
  font-style: normal;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato-blackitalic.eot");
  src: url("../fonts/lato-blackitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-blackitalic.woff") format("woff"), url("../fonts/lato-blackitalic.ttf") format("truetype"), url("../fonts/lato-blackitalic.svg#lato-blackitalic") format("svg");
  font-weight: bold;
  font-style: italic;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'Social';
  src: url("../fonts/social.eot");
  src: url("../fonts/social.eot?#iefix") format("embedded-opentype"), url("../fonts/social.woff") format("woff"), url("../fonts/social.ttf") format("truetype"), url("../fonts/social.svg#social") format("svg");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility; }

/*** BASIC TYPOGRAPHY ***/
a {
  text-decoration: none;
  color: inherit;
  border-bottom: 6px solid #7a1b15; }
  a:hover {
    color: #7a1b15;
    border: none; }

h1 {
  font-family: 'Borgia', serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 1; }

h2 {
  font-family: 'Borgia', serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px; }

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  margin-bottom: 25px; }

h5 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase; }

h6 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 25px; }

p {
  margin-bottom: 24px; }

/* LISTS */
ul {
  list-style: none; }
  ul.inline-list {
    overflow: hidden;
    list-style: none; }
    ul.inline-list li {
      float: left;
      margin-right: 16px; }

/* LAYOUT */
.row, .offer, .oferta, .equipment-list, .about-us, .zespol, .team-single-view, .piotr, .kontakt, .stomatologia-zachowawcza, .main-menu header, .main-menu .navnav, nav.main, footer .footer-container, .bricks-container, .banner, .banner .slogan-box, .team-container {
  width: 963.9996px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  overflow: auto; }

.floater > *, .main-menu .navnav > *, nav.main > *, nav.main .contact > *, footer .footer-container > * {
  float: left;
  margin-right: 30px; }
  .floater > *:last-child, .main-menu .navnav > *:last-child, nav.main > *:last-child, nav.main .contact > *:last-child, footer .footer-container > *:last-child {
    margin-right: 0; }

html {
  position: relative;
  min-height: 100%; }

body {
  background-color: transparent;
  color: #262649;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  margin-bottom: 50px; }

.icon {
  font-family: 'Social'; }

.maroon {
  color: #7a1b15; }

article {
  margin-bottom: 50px; }
  article ul {
    list-style: disc; }

nav.breadcrumbs {
  color: #7a1b15;
  font-size: 14px;
  margin-bottom: 25px; }
  nav.breadcrumbs a {
    border-bottom: none; }
    nav.breadcrumbs a:hover {
      color: #262649; }

.offer, .oferta, .equipment-list, .about-us, .zespol, .team-single-view, .piotr, .kontakt {
  margin-top: 100px; }
  .offer article, .oferta article, .equipment-list article, .about-us article, .zespol article, .team-single-view article, .piotr article, .kontakt article {
    width: 632.6664px;
    margin-left: 165.6666px; }
    .offer article h1, .oferta article h1, .equipment-list article h1, .about-us article h1, .zespol article h1, .team-single-view article h1, .piotr article h1, .kontakt article h1 {
      float: left;
      margin-left: -82.8333px;
      margin-right: 30px;
      margin-bottom: 2px;
      max-width: 340px; }

.stomatologia-zachowawcza {
  margin-top: 100px; }
  .stomatologia-zachowawcza article {
    width: 632.6664px;
    margin-left: 165.6666px; }
    .stomatologia-zachowawcza article h1 {
      float: left;
      margin-left: -82.8333px;
      margin-right: 30px;
      margin-bottom: 2px;
      max-width: 340px; }

/* Utilities */
/*** MAIN MENU ***/
.main-menu {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 70vh;
  z-index: 100;
  margin: 10vh 10%;
  display: none; }
  .main-menu .menu-wraper {
    height: 100%; }
  .main-menu header h1, .main-menu header nav {
    margin-left: 52.8333px; }
  .main-menu header h1 {
    margin-top: 50px;
    margin-bottom: 2px; }
  .main-menu .navnav a {
    border: none; }
  .main-menu .navnav li.label {
    text-transform: uppercase;
    font-weight: bold; }
  .main-menu .navnav ul:nth-of-type(1) {
    width: 218.4999px;
    margin-left: 135.6666px; }
  .main-menu .navnav ul:nth-of-type(2) {
    width: 301.3332px; }
  .main-menu .navnav ul:nth-of-type(3) {
    width: 135.6666px; }

.main-menu:before {
  background: none;
  border: 2px solid #7a1b15;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  pointer-events: none; }

.nav {
  background-color: white;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }

nav.main {
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 12px; }
  nav.main a {
    border-bottom: none; }
    nav.main a:hover {
      color: #7a1b15; }
  nav.main .logo {
    width: 301.3332px;
    margin-right: 30px; }
    nav.main .logo a {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      width: 216px;
      height: 40px;
      background-image: url("../images/logo.png");
      background-repeat: no-repeat; }
  nav.main .contact {
    text-align: center; }
    nav.main .contact li {
      width: 218.4999px;
      margin-right: 30px;
      line-height: 40px;
      height: 40px; }
  nav.main .menu-trigger {
    width: 52.8333px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    font-size: 28px; }
  nav.main .lang-btn {
    width: 52.8333px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: 700; }

/* FOOTER */
footer {
  background-color: lightgrey;
  width: 100%;
  position: absolute;
  bottom: -400px;
  left: 0;
  overflow: hidden;
  z-index: 10; }
  footer a {
    border-bottom: none; }
  footer .footer {
    background-color: white;
    line-height: 50px; }
    footer .footer .footer-container div {
      width: 301.3332px;
      text-align: center; }
      footer .footer .footer-container div .social {
        width: 85px;
        margin-left: auto;
        margin-right: auto; }
      footer .footer .footer-container div .links {
        width: 165px;
        margin-left: auto;
        margin-right: auto; }
    footer .footer .footer-container .logo a {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      width: 25px;
      height: 25px;
      background-image: url("../images/sygnet.png");
      background-repeat: no-repeat;
      position: relative;
      top: 7px; }
      footer .footer .footer-container .logo a:hover {
        background-position: 0 -25px; }
  footer .extended-footer {
    padding-top: 24px;
    margin-bottom: 0;
    height: 350px; }
    footer .extended-footer .footer-container div {
      width: 301.3332px;
      text-align: center; }
    footer .extended-footer .footer-container ul li {
      text-align: center; }
      footer .extended-footer .footer-container ul li.label {
        font-weight: bold; }

/*** BRICK & BRICKS-CONTAINER ***/
.bricks-container {
  overflow: hidden; }
  .bricks-container .brick {
    width: 301.3332px; }
    .bricks-container .brick h4 {
      font-weight: normal; }
    .bricks-container .brick a {
      display: block;
      border-bottom: none; }
    .bricks-container .brick img {
      width: 100%; }

/* Pages */
.slogan, .banner .slogan-box p {
  font-family: 'Borgia', serif;
  font-size: 48px;
  color: white;
  width: 632.6664px;
  line-height: 1; }

.banner {
  background-color: lightgrey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin-bottom: 0; }
  .banner .slogan-box {
    margin-top: 45vh;
    overflow: visible; }

/*** OFFER PAGE ***/
.main-image {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin-top: 70px; }

.oferta {
  margin-top: -80px;
  padding-top: 20px;
  background-color: white; }
  .oferta img {
    width: 466.9998px;
    margin: 24px 82.8333px; }

/*** TEAM PAGE ***/
/*
a#zespol {
	content: " ";
	display: block;
	height: 75px;
	margin-top: -75px;
	visibility: hidden;
}
*/
#zespol {
  margin-top: -100px;
  padding-top: 100px; }

.zespol {
  margin-top: 0; }

.team-container {
  overflow: hidden; }
  .team-container a {
    display: block;
    border-bottom: none; }
    .team-container a:hover {
      color: #262649; }
      .team-container a:hover h2 {
        color: #7a1b15; }

.team {
  width: 301.3332px; }
  .team header {
    margin-bottom: 25px; }
    .team header .avatar {
      text-align: center; }
      .team header .avatar img {
        width: 218.4999px;
        border-radius: 218.4999px;
        -webkit-border-radius: 218.4999px;
        -moz-border-radius: 218.4999px; }

.team-single-view img {
  width: 218.4999px;
  border-radius: 218.4999px;
  -webkit-border-radius: 218.4999px;
  -moz-border-radius: 218.4999px;
  float: left;
  margin-left: -82.8333px;
  margin-right: 30px;
  margin-bottom: 2px; }

/*** EQUIPMENT PAGE ***/
.equipment-list {
  margin-bottom: 100px; }
  .equipment-list article {
    margin-bottom: 0; }
  .equipment-list .list-anchor {
    margin-top: -100px;
    padding-top: 100px; }
  .equipment-list header {
    margin-bottom: 50px; }
  .equipment-list header, .equipment-list article {
    width: 632.6664px;
    margin-left: 165.6666px; }
    .equipment-list header h1, .equipment-list article h1 {
      float: left;
      margin-left: -82.8333px;
      margin-right: 30px;
      margin-bottom: 2px;
      max-width: 340px; }
    .equipment-list header h2, .equipment-list article h2 {
      margin-bottom: 12px; }
      .equipment-list header h2 a, .equipment-list article h2 a {
        border-bottom: none; }
        .equipment-list header h2 a:hover, .equipment-list article h2 a:hover {
          color: inherit;
          border-bottom: 6px solid #7a1b15; }
    .equipment-list header .description, .equipment-list article .description {
      display: none; }
      .equipment-list header .description img, .equipment-list article .description img {
        display: block;
        width: 301.3332px;
        margin-right: 30px;
        margin-bottom: 24px; }

/*** CONTACT PAGE ***/
#map {
  background-color: lightgrey;
  height: 500px;
  margin-top: 0;
  z-index: -100; }

.kontakt {
  margin-top: -60px;
  margin-bottom: 100px;
  padding-top: 20px;
  background-color: white; }
  .kontakt article {
    /* USUNĄĆ
		ul {
			float: left;
			width: column-width(4);
			margin-right: $gutter;
			list-style: none;
			&:last-of-type {
				margin-right: 0;
			}

			li.address, li.label {
				font-size: 24px;

				.icon {
					width: 20px;
				}
			}
		}
		*/ }
    .kontakt article h1 {
      float: none; }
    .kontakt article table {
      width: 50%;
      margin-top: 50px;
      float: left; }
      .kontakt article table td.icon {
        width: 50px;
        font-size: 24px;
        line-height: 1.5; }
      .kontakt article table.details {
        font-size: 24px;
        line-height: 1.5; }
        .kontakt article table.details tr {
          height: 65px; }
      .kontakt article table.hours tr.label {
        font-size: 24px;
        line-height: 1.5;
        height: 50px; }
      .kontakt article table.hours tr td:nth-of-type(2) {
        width: 140px; }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/*** MEDIA QUERIES ***/
/*
@media all and (min-width: 1080px) {
	body {
		background-color: lightgrey;
	}
	.row {
	width: columns-width();
	} 
}
*/
@media all and (max-width: 1023px) and (min-width: 768px) {
  .row, .offer, .oferta, .equipment-list, .about-us, .zespol, .team-single-view, .piotr, .kontakt, .stomatologia-zachowawcza, .main-menu header, .main-menu .navnav, nav.main, footer .footer-container, .bricks-container, .banner, .banner .slogan-box, .team-container {
    width: 715.4997px; }
  .text-column {
    width: 715.4997px; }
  .offer article, .oferta article, .equipment-list article, .about-us article, .zespol article, .team-single-view article, .piotr article, .kontakt article {
    width: 715.4997px;
    margin-left: 0; }
    .offer article h1, .oferta article h1, .equipment-list article h1, .about-us article h1, .zespol article h1, .team-single-view article h1, .piotr article h1, .kontakt article h1 {
      float: none;
      margin-left: 0;
      margin-bottom: 24px; }
  nav.main {
    font-size: 16px; }
    nav.main .logo {
      width: 135.6666px; }
      nav.main .logo a {
        background-image: url("../images/logo_sml.png");
        background-position: center;
        width: 100%;
        height: 36px; }
    nav.main .contact li {
      width: 177.08325px; }
    nav.main .menu-trigger {
      font-size: 24px;
      line-height: 36px; }
  .main-menu .navnav {
    width: 100%; }
    .main-menu .navnav ul:nth-of-type(1) {
      width: 218.4999px;
      margin-left: 52.8333px; }
    .main-menu .navnav ul:nth-of-type(2) {
      width: 301.3332px;
      margin-right: 0; }
    .main-menu .navnav ul:nth-of-type(3) {
      width: 135.6666px;
      margin-left: 52.8333px; }
  footer .footer .footer-container div {
    width: 218.4999px; }
  footer .extended-footer .footer-container div {
    width: 218.4999px; }
  .banner {
    width: 100%; }
    .banner .slogan-box {
      margin-top: 55vh; }
      .banner .slogan-box p {
        font-size: 36px; }
  .oferta {
    overflow: initial;
    margin-bottom: 150px; }
    .oferta article h1 {
      background-color: white;
      margin: -20px 30px 0 -30px;
      padding: 20px 0 30px 30px; }
  .equipment-list header, .equipment-list article {
    margin-left: 0; }
    .equipment-list header h1, .equipment-list article h1 {
      float: none;
      margin-left: 0; }
  .team-single-view img {
    margin-left: 0; }
  .kontakt {
    overflow: initial;
    margin-bottom: 150px; }
    .kontakt article h1 {
      background-color: white;
      margin: -20px 30px -30px -30px;
      padding: 20px 0 30px 30px; } }

@media all and (max-width: 767px) {
  h1 {
    font-size: 30px; }
  .row, .offer, .oferta, .equipment-list, .about-us, .zespol, .team-single-view, .piotr, .kontakt, .stomatologia-zachowawcza, .main-menu header, .main-menu .navnav, nav.main, footer .footer-container, .bricks-container, .banner, .banner .slogan-box, .team-container {
    width: 301.3332px; }
  .text-column {
    width: 301.3332px; }
  article {
    margin-bottom: 0; }
  .offer article, .oferta article, .equipment-list article, .about-us article, .zespol article, .team-single-view article, .piotr article, .kontakt article {
    width: 301.3332px;
    margin-left: 0; }
    .offer article h1, .oferta article h1, .equipment-list article h1, .about-us article h1, .zespol article h1, .team-single-view article h1, .piotr article h1, .kontakt article h1 {
      float: none;
      margin-left: 0;
      margin-bottom: 24px; }
  nav.main {
    font-size: 16px; }
    nav.main .logo {
      width: 135.6666px;
      margin-right: 60px; }
      nav.main .logo a {
        background-image: url("../images/logo_sml.png");
        background-position: center;
        width: 100%;
        height: 36px; }
    nav.main .lang-btn {
      text-align: right;
      margin-right: 0; }
    nav.main .menu-trigger {
      font-size: 24px;
      line-height: 36px;
      text-align: right; }
    nav.main .contact {
      display: none; }
  .main-menu {
    width: 90%;
    height: 60vh;
    margin: 25% 5%; }
    .main-menu header {
      margin-left: 30px; }
      .main-menu header h1, .main-menu header nav {
        margin-left: 0; }
    .main-menu .navnav {
      width: 100%; }
      .main-menu .navnav ul {
        width: calc(100% - 60px) !important;
        margin-left: 30px !important;
        text-align: center;
        line-height: 2;
        /*
				&:nth-of-type(1) {
					width: column-width(3);
					margin-left: $gutter;
				}
				&:nth-of-type(2) {
					width: column-width(4);
					margin-left: $gutter;
				}
				&:nth-of-type(3) {
					width: column-width(2);
					margin-left: $gutter;
				}
				*/ }
        .main-menu .navnav ul li:not(.label) {
          display: none; }
  footer {
    bottom: -100px;
    background-color: transparent; }
    footer .footer .logo {
      display: none; }
    footer .extended-footer {
      display: none; }
  .banner {
    width: 100%; }
    .banner .slogan-box {
      margin-top: 65vh; }
      .banner .slogan-box p {
        font-size: 24px;
        width: 301.3332px; }
  .oferta {
    margin-top: 0; }
    .oferta article h1 {
      background-color: white;
      margin: -20px 30px 0 -30px;
      padding: 20px 0 30px 30px; }
    .oferta article ul {
      margin-left: 15px; }
    .oferta img {
      width: 100%;
      margin-left: 0;
      margin-right: 0; }
  .main-image {
    height: 200px; }
  .equipment-list header {
    margin-bottom: 24px; }
  .equipment-list header, .equipment-list article {
    width: 301.3332px;
    margin-left: 0; }
    .equipment-list header h1, .equipment-list article h1 {
      float: none;
      margin-left: 0; }
    .equipment-list header h2, .equipment-list article h2 {
      font-size: 21px;
      line-height: 1.5; }
  .team-single-view {
    overflow-x: hidden; }
    .team-single-view img {
      float: none;
      margin: 0 auto 24px;
      display: block;
      width: 218.4999px; }
  .kontakt {
    margin-top: 0; }
    .kontakt article table {
      width: 100%;
      margin-top: 0;
      float: none;
      margin-bottom: 50px; }
      .kontakt article table.details {
        font-size: 18px; }
        .kontakt article table.details tr {
          height: 50px; } }

/*# sourceMappingURL=main.css.map */
