/*** MEDIA QUERIES ***/

@media all and (max-width: 1023px) and (min-width: 768px) {

	///// LAYOUT /////
	.row {
		width: column-width(9);
	}
	.text-column {
		width: column-width(9);
	}
	.offer, .oferta, .equipment-list, .about-us, .zespol, .team-single-view, .piotr, .kontakt, .price-list {
		aside {
			display: none;
		}

		article {
			width: column-width(9);
			margin-left: 0;

			h1 {
				float: none;
				margin-left: 0;
				margin-bottom: $horizontal-margin;
			}
		}
	}

	///// NAV /////
	nav.main {
		font-size: 16px;

		.logo {
			width: column-width(2);

			a {
				background-image: url($css-images-path + 'logo_sml.svg');
				background-position: center;
				width: 100%;
				height: 36px;
			}
		}

		.contact {
			li {
				width: column-width(2.5);
			}
		}

		.menu-trigger {
			font-size: 24px;
			line-height: 36px;
		}
	}

	///// MAIN MENU /////
	.main-menu {
		.navnav {
			width: 100%;
			ul {
				&:nth-of-type(1) {
					width: column-width(3);
					margin-left: column-width(1);
				}
				&:nth-of-type(2) {
					width: column-width(4);
					margin-right: 0;
				}
				&:nth-of-type(3) {
					width: column-width(2);
					margin-left: column-width(1);
				}
			}
		}
	}


	///// FOOTER /////
	footer {
		.footer {
			.footer-container {
				div {
					width: column-width(3);
				}
			}
		}
		.extended-footer {
			.footer-container {
				div {
					width: column-width(3);
				}
			}
		}
	}

	///// BANNER @HOME PAGE /////
	.banner {
		width: 100%;

		.slogan-box {
			margin-top: 55vh;

			p {
				font-size: 36px;
			}
		}
	}

	///// OFERTA /////

	// .bricks-container {
	// 	width: column-width(8);
	// }

	.oferta {
		overflow: initial;
		margin-bottom: 150px;

		article {
			h1 {
				background-color: white;
				margin: -20px 30px 0 -30px;
				padding: 20px 0 30px 30px;
			}
		}
	}

	///// WYPOSAŻENIE /////
	.equipment-list {
		header, article {
			margin-left: 0;

			h1 {
				float: none;
				margin-left: 0;
			}
		}
	}

	///// ZESPÓŁ /////
	.team-single-view {
		img {
			margin-left: 0;
		}
	}

	///// CENNIK /////
	.price-list {
		.cennik-submenu {
			display: none;
		}
	}

	///// KONTAKT /////
	.kontakt {
		overflow: initial;
		margin-bottom: 150px;

		article {
			h1 {
				background-color: white;
				margin: -20px 30px -30px -30px;
				padding: 20px 0 30px 30px;
			}
		}
	}
}


@media all and (max-width: 768px) {

	///// TYPO /////
	h1 {
		font-size: 30px;
	}

	///// LAYOUT /////
	.row {
		width: column-width(4);
	}
	.text-column {
		width: column-width(4);
	}
	article {
		margin-bottom: 0;
	}
	.price-list article {
		.pricelist-header-wrapper {
			position: relative;
			width: 100vw;
			left: 50%;
			right: 50%;
			margin-left: -50vw;
			margin-right: -50vw;
			background-color: #F0F0F0;
		}
		h2 {
			width: column-width(4);
			margin-left: auto;
			margin-right: auto;
			font-size: 18px;
			line-height: 45px;
			margin-bottom: 2px;

			span {
				display: inline-block;
			}

		}
		ul {
			display: none;
		}

		ul:not(.cennik-submenu) li {
			font-size: 14px;
			padding-left: 0;
			padding-right: 0;
			width: 100%;
		}
	}
	.offer, .oferta, .equipment-list, .about-us, .zespol, .team-single-view, .piotr, .kontakt, .price-list {
		aside {
			display: none;
		}

		article {
			width: column-width(4);
			margin-left: 0;

			h1 {
				float: none;
				margin-left: 0;
				margin-bottom: $horizontal-margin;
			}

		}
	}

	///// NAV /////
	nav.main {
		font-size: 16px;

		.logo {
			width: column-width(2);
			//margin-right: column-width(1) + (2 * $gutter);
			margin-right: 2 * $gutter;

			a {
				background-image: url($css-images-path + 'logo_sml.svg');
				background-position: center;
				width: 100%;
				height: 36px;
			}
		}

		.lang-btn {
			text-align: right;
			margin-right: 0;
		}
		.menu-trigger {
			font-size: 24px;
			line-height: 36px;
		}

		.contact {
			display: none;
		}
	}

	///// MAIN MENU /////
	.main-menu {
		width: 90%;
		//height: auto;
		height: 60vh;
		margin: 25% 5%;
		header {
			margin-left: $gutter;
			h1, nav {
				margin-left: 0;
			}
		}
		.navnav {
			width: 100%;
			ul {
				width: calc(100% - 60px) !important;
				margin-left: 30px !important;
				text-align: center;
				line-height: 2;
				/*
				&:nth-of-type(1) {
					width: column-width(3);
					margin-left: $gutter;
				}
				&:nth-of-type(2) {
					width: column-width(4);
					margin-left: $gutter;
				}
				&:nth-of-type(3) {
					width: column-width(2);
					margin-left: $gutter;
				}
				*/
				li:not(.label) {
					display: none;
				}
			}
		}
	}


	///// FOOTER /////
	footer {
		bottom: -100px;
		background-color: transparent;

		.footer {
			.logo {
				display: none;
			}

			.footer-container {
				display: none;
			}

			.mobile-footer {
				display: block;
			}
		}

		.extended-footer {
			display: none;
		}
	}

	///// BANNER @HOME PAGE /////
	.banner {
		width: 100%;

		.slogan-box {
			margin-top: 65vh;

			p {
				font-size: 24px;
				width: column-width(4);
			}
		}
	}

	///// OFERTA /////

	.main-image {
		height: 200px;
	}

	.oferta {
		margin-top: 0;

		article {
			h1 {
				background-color: white;
				margin: -20px 30px 0 -30px;
				padding: 20px 0 30px 30px;
			}
			ul {
				margin-left: 15px;
			}
		}

		img {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}
	.main-image {
		height: 200px;
	}

	///// WYPOSAŻENIE /////
	.equipment-list {
		header {
			margin-bottom: 24px;
		}
		header, article {
			width: column-width(4);
			margin-left: 0;

			h1 {
				float: none;
				margin-left: 0;
			}
			h2 {
				font-size: 21px;
				line-height: 1.5;
			}
		}
	}

	///// ZESPÓŁ /////
	.team-single-view {
		overflow-x: hidden;

		img {
			float: none;
			margin: 0 auto 24px;
			display: block;
			width: column-width(3);
		}
	}


	///// CENNIK /////
	.price-list {
		overflow: visible;

		.pricelist-nav {
			display: none;
		}
	}

	///// KONTAKT /////
	.kontakt {
		margin-top: 0;

		article {
			table {
				width: 100%;
				margin-top: 0;
				float: none;
				margin-bottom: 50px;

				&.details {
					font-size: 18px;

					tr {
						height: 50px;
					}
				}
			}
		}
	}

}
