//partials

@import '../node_modules/normalize-scss/sass/normalize';
@import 'variables';
@import 'mixins';
@import 'typography';

html {
	position: relative;
	min-height: 100%;
}
body {
	background-color: transparent;
	color: $text-color;
	font-family: $font-stack;
	line-height: $global-line-height;
	margin-bottom: 50px; // wysokość małego footera
}

.icon {
	font-family: 'Social';
	//@include hide-text;
}

.maroon {
	color: $maroon;
}

.slogan {
	font-family: 'Borgia', serif;
	font-size: 48px;
	color: white;
	width: column-width(8);
	line-height: 1;
}



article {
	margin-bottom: 50px;
	@extend %clear-floats;

	ul {
		list-style: disc;
	}
}




nav {
	&.breadcrumbs {
		color: $maroon;
		font-size: 14px;
		margin-bottom: 25px;
		a {
			border-bottom: none;
			&:hover {
				color: $navy;
			}
		}
	}
}

// TO WSZYSTKO DO HOME.SCSS //
.owl-carousel {
}
.banner { // --> przenieś do pages/home.scss
	@extend .row;
	background-color: lightgrey;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;

	margin-bottom: 0;

	.slogan-box {
		@extend .row;
		margin-top: 45vh;
		overflow: visible;
		//dodać drop shadow

		p {
			@extend .slogan;
		}
	}
}


///// OFERTA ///// --> to wszystko do LAYOUTu
.offer, .oferta, .equipment-list, .about-us, .zespol, .piotr, .kontakt {
	@extend .row;

	margin-top: 100px;

	article {
		width: column-width(8);
		margin-left: column-width(2) + $gutter;
		h1 {
			float: left;
			margin-left: -(column-width(1) + $gutter);
			margin-right: 30px;
			margin-bottom: 2px;
			max-width: 340px;
		}
	}
}


///// OFERTA • Stomatologia zachowawcza /////
.stomatologia-zachowawcza {
	@extend .row;
	margin-top: 100px;

	article {
		width: column-width(8);
		margin-left: column-width(2) + $gutter;
		h1 {
			float: left;
			margin-left: -(column-width(1) + $gutter);
			margin-right: 30px;
			margin-bottom: 2px;
			max-width: 340px;
		}
	}
}






@import 'utilities';
@import 'pages';
@import 'vendor';
//@import 'vendor/normalize';
//
//
//
//@import 'media-queries';
//
