///// HOME PAGE /////
.slogan {
	font-family: 'BespokeSerif', serif;
	font-size: 48px;
	color: white;
	width: column-width(8);
	line-height: 1;
}

.banner {
	@extend .row;
	background-color: lightgrey;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;

	margin-bottom: 0;

	.slogan-box {
		@extend .row;
		margin-top: 45vh;
		overflow: visible;
		//dodać drop shadow

		& > * {
			@extend .slogan;
		}
	}
}

.intro {
	@extend .row;
	
	margin-top: 124px;
	
	h1 {
		font-size: 36px;
		// margin-left: 84px;
		margin-bottom: 72px;
	}
	
	h2 {
		font-size: 21px;
		line-height: 24px;
		min-height: 100px;
	}
	
	a {
		border: none;
	}
	
	.slides {
		display: grid;
		grid-template-columns: repeat(3, auto);
		column-gap: 30px;
		
		// .slide {
			// 	display: flex;
			// 	flex-direction: column;
			// }
		}
	}

	.home-offer {
		@extend .offer;

		h2 {
			font-size: 36px;
			font-weight: 400;
			margin-left: -168px;
		}
	}

	.home-bricks-container {
		@extend .bricks-container;
	}
	