/*** OFFER PAGE ***/

.main-image {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 500px;
	margin-top: 70px;
}

.offer {
	margin-bottom: 0;
}

.oferta {
	margin-top: -80px;
	padding-top: 20px;
	background-color: white;

		img {
		width: column-width(6);
		margin: $horizontal-margin column-width(1) + $gutter;
	}

	article ul {
		margin-bottom: 24px;
	}
}
