/*** TEAM PAGE ***/

/*
a#zespol {
	content: " ";
	display: block;
	height: 75px;
	margin-top: -75px;
	visibility: hidden;
}
*/
#zespol {
	margin-top: -100px;
	padding-top: 100px;
}

.zespol {
	margin-top: 0;
}

.team-container {
	@extend .row;
	overflow: hidden;

	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;

	a {
		display: block;
		border-bottom: none;
		
		&:hover {
			color: $navy;
			h2 {
				color: $maroon;
			}
		}
	}
}
.team {
	width: column-width(4);
	header {
		margin-bottom: 25px;
		.avatar {
			text-align: center;
			img {
				width: column-width(3);
				border-radius: column-width(3);
				-webkit-border-radius: column-width(3);
				-moz-border-radius: column-width(3);
			}
		}
	}
}

.team-single-view {

	img {
		width: column-width(3);
		border-radius: column-width(3);
		-webkit-border-radius: column-width(3);
		-moz-border-radius: column-width(3);
		float: left;
		margin-left: -(column-width(1) + $gutter);
		margin-right: 30px;
		margin-bottom: 2px;
	}
}
