/*** BRICK & BRICKS-CONTAINER ***/

.bricks-container {
	@extend .row;//, .floater; // usunąć .floater po zainstalowaniu MASONRY
	overflow: hidden;

	.brick {
		width: column-width(4);

		h4 {
			font-weight: normal;
		}

		a {
			display: block;
			border-bottom: none;
		}

		img {
			width: 100%;
		}
	}
}
