/* FOOTER */

footer {
	background-color: lightgrey;
	width:  100%;

	position: absolute;
	bottom: -400px; // wysokość .extended-footer
	left: 0;
	overflow: hidden;
	z-index: 10;

	a {
		border-bottom: none;
	}

	.footer-container {
		@extend .row, .floater;
	}

	.footer {
		background-color: white;
		line-height: 50px;

		.footer-container {
			div {
				width: column-width(4);
				text-align: center;
				.social {
					width: 85px;
					margin-left: auto;
					margin-right: auto;
				}
				.links {
					width: 165px;
					margin-left: auto;
					margin-right: auto;
				}
			}
			.logo {
				a {
					@include hide-text;
					display: inline-block;
					width: 25px;
					height: 25px;
					background-image: url($css-images-path + 'sygnet.png');
					background-repeat: no-repeat;
					position: relative;
					top: 7px;

					&:hover {
						background-position: 0 -25px;
					}
				}
			}
		}
	}

	.extended-footer {
		padding-top: $horizontal-margin;
		margin-bottom: 0;
		height: 350px;

		.footer-container {
			div {
				width: column-width(4);
				text-align: center;
			}

			ul {
				li {
					text-align: center;
					&.label {
						font-weight: bold;
					}
				}
			}

			a.button {
				appearance: button;
				font-size: inherit;
				color: white;
				padding: 8px 30px;
				margin: 30px 0 10px;
				background-color: #262649;
				border-radius: 6px;
				border: none;
			}
		}
	}
}
