/* Fonts */

// Bespoke Serif. 24.01.2023 //

@font-face {
	font-family: 'BespokeSerif';
	src: url('../fonts/BespokeSerif/BespokeSerif-Regular.woff2') format('woff2'),
		url('../fonts/BespokeSerif/BespokeSerif-Regular.woff') format('woff'),
		url('../fonts/BespokeSerif/BespokeSerif-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}


@font-face {
	font-family: 'BespokeSerif';
	src: url('../fonts/BespokeSerif/BespokeSerif-Italic.woff2') format('woff2'),
		url('../fonts/BespokeSerif/BespokeSerif-Italic.woff') format('woff'),
		url('../fonts/BespokeSerif/BespokeSerif-Italic.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'BespokeSerif';
	src: url('../fonts/BespokeSerif/BespokeSerif-Medium.woff2') format('woff2'),
	  url('../fonts/BespokeSerif/BespokeSerif-Medium.woff') format('woff'),
	  url('../fonts/BespokeSerif/BespokeSerif-Medium.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
  }
  
@font-face {
font-family: 'BespokeSerif';
src: url('../fonts/BespokeSerif/BespokeSerif-MediumItalic.woff2') format('woff2'),
	url('../fonts/BespokeSerif/BespokeSerif-MediumItalic.woff') format('woff'),
	url('../fonts/BespokeSerif/BespokeSerif-MediumItalic.ttf') format('truetype');
font-weight: 500;
font-display: swap;
font-style: italic;
}


@font-face {
font-family: 'BespokeSerif';
src: url('../fonts/BespokeSerif/BespokeSerif-Bold.woff2') format('woff2'),
	url('../fonts/BespokeSerif/BespokeSerif-Bold.woff') format('woff'),
	url('../fonts/BespokeSerif/BespokeSerif-Bold.ttf') format('truetype');
font-weight: 700;
font-display: swap;
font-style: normal;
}


@font-face {
font-family: 'BespokeSerif';
src: url('../fonts/BespokeSerif/BespokeSerif-BoldItalic.woff2') format('woff2'),
	url('../fonts/BespokeSerif/BespokeSerif-BoldItalic.woff') format('woff'),
	url('../fonts/BespokeSerif/BespokeSerif-BoldItalic.ttf') format('truetype');
font-weight: 700;
font-display: swap;
font-style: italic;
}


@font-face {
font-family: 'BespokeSerif';
src: url('../fonts/BespokeSerif-Extrabold.woff2') format('woff2'),
	url('../fonts/BespokeSerif-Extrabold.woff') format('woff'),
	url('../fonts/BespokeSerif-Extrabold.ttf') format('truetype');
font-weight: 800;
font-display: swap;
font-style: normal;
}

// Supreme 26.01.2023

@font-face {
	font-family: 'Supreme-Regular';
	src: url('../fonts/Supreme/Supreme-Regular.woff2') format('woff2'),
		 url('../fonts/Supreme/Supreme-Regular.woff') format('woff'),
		 url('../fonts/Supreme/Supreme-Regular.ttf') format('truetype');
		 font-weight: 400;
		 font-display: swap;
		 font-style: normal;
  }
  
  
  @font-face {
	font-family: 'Supreme-Italic';
	src: url('../fonts/Supreme/Supreme-Italic.woff2') format('woff2'),
		 url('../fonts/Supreme/Supreme-Italic.woff') format('woff'),
		 url('../fonts/Supreme/Supreme-Italic.ttf') format('truetype');
		 font-weight: 400;
		 font-display: swap;
		 font-style: italic;
  }
  
  
  @font-face {
	font-family: 'Supreme-Medium';
	src: url('../fonts/Supreme/Supreme-Medium.woff2') format('woff2'),
		 url('../fonts/Supreme/Supreme-Medium.woff') format('woff'),
		 url('../fonts/Supreme/Supreme-Medium.ttf') format('truetype');
		 font-weight: 500;
		 font-display: swap;
		 font-style: normal;
  }
  
  
  @font-face {
	font-family: 'Supreme-MediumItalic';
	src: url('../fonts/Supreme/Supreme-MediumItalic.woff2') format('woff2'),
		 url('../fonts/Supreme/Supreme-MediumItalic.woff') format('woff'),
		 url('../fonts/Supreme/Supreme-MediumItalic.ttf') format('truetype');
		 font-weight: 500;
		 font-display: swap;
		 font-style: italic;
  }
  
  
  @font-face {
	font-family: 'Supreme-Bold';
	src: url('../fonts/Supreme/Supreme-Bold.woff2') format('woff2'),
		 url('../fonts/Supreme/Supreme-Bold.woff') format('woff'),
		 url('../fonts/Supreme/Supreme-Bold.ttf') format('truetype');
		 font-weight: 700;
		 font-display: swap;
		 font-style: normal;
  }
  
  
  @font-face {
	font-family: 'Supreme-BoldItalic';
	src: url('../fonts/Supreme/Supreme-BoldItalic.woff2') format('woff2'),
		 url('../fonts/Supreme/Supreme-BoldItalic.woff') format('woff'),
		 url('../fonts/Supreme/Supreme-BoldItalic.ttf') format('truetype');
		 font-weight: 700;
		 font-display: swap;
		 font-style: italic;
  }
  
  
  @font-face {
	font-family: 'Supreme-Extrabold';
	src: url('../fonts/Supreme/Supreme-Extrabold.woff2') format('woff2'),
		 url('../fonts/Supreme/Supreme-Extrabold.woff') format('woff'),
		 url('../fonts/Supreme/Supreme-Extrabold.ttf') format('truetype');
		 font-weight: 800;
		 font-display: swap;
		 font-style: normal;
  }
  
  
  @font-face {
	font-family: 'Supreme-ExtraboldItalic';
	src: url('../fonts/Supreme/Supreme-ExtraboldItalic.woff2') format('woff2'),
		 url('../fonts/Supreme/Supreme-ExtraboldItalic.woff') format('woff'),
		 url('../fonts/Supreme/Supreme-ExtraboldItalic.ttf') format('truetype');
		 font-weight: 800;
		 font-display: swap;
		 font-style: italic;
  }


////////////////////////////////////////

@font-face {
	font-family: 'Borgia';
	src: url('../fonts/borgiapro-regular.eot');
	src: url('../fonts/borgiapro-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/borgiapro-regular.woff') format('woff'),
	url('../fonts/borgiapro-regular.ttf') format('truetype'),
	url('../fonts/borgiapro-regular.svg#borgiapro-regular') format('svg');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Borgia';
	src: url('../fonts/borgiapro-italic.eot');
	src: url('../fonts/borgiapro-italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/borgiapro-italic.woff') format('woff'),
	url('../fonts/borgiapro-italic.ttf') format('truetype'),
	url('../fonts/borgiapro-italic.svg#borgiapro-italic') format('svg');
	font-weight: normal;
	font-style: italic;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Borgia';
	src: url('../fonts/borgiapro-bold.eot');
	src: url('../fonts/borgiapro-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/borgiapro-bold.woff') format('woff'),
	url('../fonts/borgiapro-bold.ttf') format('truetype'),
	url('../fonts/borgiapro-bold.svg#mborgiapro-bold') format('svg');
	font-weight: bold;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Borgia';
	src: url('../fonts/borgiapro-bolditalic.eot');
	src: url('../fonts/borgiapro-bolditalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/borgiapro-bolditalic.woff') format('woff'),
	url('../fonts/borgiapro-bolditalic.ttf') format('truetype'),
	url('../fonts/borgiapro-bolditalic.svg#mborgiapro-bolditalic') format('svg');
	font-weight: bold;
	font-style: italic;
	text-rendering: optimizeLegibility;
}

/*
@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato-bold.eot');
	src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/lato-bold.woff') format('woff'),
	url('../fonts/lato-bold.ttf') format('truetype'),
	url('../fonts/lato-bold.svg#lato-bold') format('svg');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato-bolditalic.eot');
	src: url('../fonts/lato-bolditalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/lato-bolditalic.woff') format('woff'),
	url('../fonts/lato-bolditalic.ttf') format('truetype'),
	url('../fonts/lato-bolditalic.svg#lato-bolditalic') format('svg');
	font-weight: normal;
	font-style: italic;
	text-rendering: optimizeLegibility;
}
*/

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato-semibold.eot');
	src: url('../fonts/lato-semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/lato-semibold.woff') format('woff'),
	url('../fonts/lato-semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato-semibolditalic.eot');
	src: url('../fonts/lato-semibolditalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/lato-semibolditalic.woff') format('woff'),
	url('../fonts/lato-semibolditalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato-black.eot');
	src: url('../fonts/lato-black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/lato-black.woff') format('woff'),
	url('../fonts/lato-black.ttf') format('truetype'),
	url('../fonts/lato-black.svg#lato-black') format('svg');
	font-weight: bold;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato-blackitalic.eot');
	src: url('../fonts/lato-blackitalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/lato-blackitalic.woff') format('woff'),
	url('../fonts/lato-blackitalic.ttf') format('truetype'),
	url('../fonts/lato-blackitalic.svg#lato-blackitalic') format('svg');
	font-weight: bold;
	font-style: italic;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'Social';
	src: url('../fonts/social.eot');
	src: url('../fonts/social.eot?#iefix') format('embedded-opentype'),
	url('../fonts/social.woff') format('woff'),
	url('../fonts/social.ttf') format('truetype'),
	url('../fonts/social.svg#social') format('svg');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}
