/* LAYOUT */

.row {
	width: column-width(12);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $horizontal-margin;
	overflow: auto;
}

.floater {
	> * {
		float: left;
		margin-right: $gutter;
		&:last-child {
			margin-right: 0;
		}
	}
	@extend %clear-floats;
}
