/* LISTS */


ul {
	list-style: none;

	&.inline-list {
		overflow: hidden;
		list-style: none;

		li {
			float: left;
			margin-right: $global-font-size;
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}
